[user]
	name = nagomu
	email = kyoshidk@gmail.com
[ghq]
	root = /Users/kazuya/dev
[core]
	excludesfile = /Users/kazuya/.gitignore_global
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
